*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    height: 40px;


}
h4{
    text-color:white;
    padding-right: 30px;

}
.links{
    float: right;
    margin-right: 15px;
    padding-top: 10px;
    padding-right: 40px;
    text-decoration: none;

}
.sectionone{
    height: 550px;
    width: 100%;
    background-image: url("header-bg.jpg");
    background-repeat: no-repeat;
    background: linear-gradient(rgba(31,18,18,.8) , rgba(31,18,18,.8)), url("header-bg.jpg");
    background-size: cover;
}
.logo{
    float: left;
    margin: 0px 0px 0px 35px;
    width: 50px;
    height: 38px;
}
a{
    color: white;
    padding-left: 15px;
}
#asideone{
    padding-left: 130px;
}
form{
    width: 35%;
    float: right;
    margin-right: 130px;
    margin-top: 70px;
    border-style: solid ;
    border-color: white;
    border-width: 1px;
    padding-bottom: 50px;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, .2);
}
form select {
    color: gray;
}
h2{
    color: white;
    margin-left: 20px;
    margin-top: 30px;
}
#para{
    color: white;
}
.selectcar{
    width: 87%;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
}
.pickup{
    width:41% ;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
.pickdate{
    width: 41%;
    height: 30px;
    margin-left: 15px;
}
.dropoff{
    width: 41%;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
.inputtext{
    width: 86%;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
section{
    color: white;
}
aside{
    width: 37%;
    padding-top: 160px;
    padding-left: 50px;

}
h5{
    font-size: medium;
    font-weight: 100;
    display: inline-block;
    margin-bottom: 5px;

}
.articls img{
    margin-top: 10px;
    
}
h1{
    font-size: 38px;
    margin-top: 10px;
}
p{
    margin-top: 10px;
}
.botton{
    width: 
}
.rent{
    width: 180px;
    height: 30px;
    margin-top: 10px;
}
.sectwo{
    width: 100%;
    color: black;
    
}
.articls{
    width: 89%;
    margin-left: 140px;
    

}
.sectwo h3{
    margin-top: 25px;
    font-size: 40px;
    text-align: center;
}
.sectwo h6{
    margin-top: 15px;
    font-size: small;
    color: grey;
    text-align: center;
}
article{
    width: 23%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(226, 222, 222, 0.664);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    float: left;
    background-color: rgba(226, 222, 222, 0.664);
}
.clear{
    clear: both;
}
article h5{
    font-size: 20px;
    font-weight: 800;
}
.asidethree{
    width: 500px;
    color: black;
    float: right;
    margin-right: 134px;
    padding-top: 105px;

}
.asidethree h3{
    font-size: 40px;
}
.asidethree h6{
    font-size: 17px;
}
.asidethree input{
    width: 190px;
    height: 30px;
    margin-top: 20px;
}
.imgthree{
    margin-left: 159px;
    float: left;
    margin-top: 61px;

}
.clear{
    clear: both;
}
p{
    color: grey;
}
#p{
    color: white;
}
a{
    text-decoration: none;

}
.button{
    background-color: rgb(255, 165, 0);
    border-color: rgb(255, 165, 0);;
    color: white;
}
.secfour{
    margin-top: 55px;
}
.secfour h3{
    color: black;
    font-size: 40px;
    text-align: center;
}
.secfour .pone{
    text-align: center;
}
aside h6{
    color: black;
    font-size: 27px;
    padding-bottom: 20px;
}
.asidefour{
    padding-top: 70px ;
    padding-left: 159px ;
    float: left;
}
.asidefour input{
    background-color: black;
    border-color: black;
    margin-top: 20px;
    color: white;
    width: 190px;
    height: 30px;
}
.secfour img{
    float: right;
    margin-right: 110px;
}
.clear{
    clear: both;
}
.secfive{
    margin-top: 55px;
    width: 100%;
    height: 350px;
    background-image: url(images/callaction-bg.jpg);
    background: linear-gradient(rgba(54, 50, 73, 0.5) , rgba(31,18,18,.5)), url("images/callaction-bg.jpg");

    background-size: cover;
}
.secfive h2{
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
}
.secfive p{
    text-align: center;
    width: 790px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: medium;
}
.secfive input{
    background-color: transparent;
    border-color: rgb(255, 165, 0);
    color: rgb(255, 165, 0);
    width: 500px;
    height: 40px;
    margin-right:auto;
    margin-left: 430px;
    margin-top: 40px;
}
.secsix h2{
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.secsix .ph{
    text-align: center;
    width: 680px;
    margin-right: auto;
    margin-left: auto;
    font-size: medium;
}
.divsecsix{
    width: 20%;
    margin-left: 50px;
    float: left;
    margin-top: 40px;
}
.divsecsix h4{
    color: black;
}
.divsecsix input{
    background-color: black;
    border-color: black;
    color: white;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.secseven{
    width: 100%;
    height: 270px; ;
    background-color: rgb(3, 0, 14);
    margin-top: 40px;
    padding-left: 0;
}
.secseven div{
    float: left;
    margin-top: 50px;
    margin-left: 60px;
}
.clear{
    clear: both;
}
.secseven img{
    margin-left: 5px;
}
.secseven h4{
    font-size: 20px;
}
.secseven input{
    width: 320px;
    height: 20px;
}

.clear{
    clear: both;
}
.secseven .c{
    text-align: center;

}
#c{
    text-align: center;
    color: gray;
    font-size: 20px;
    font-weight: 100;

}
#sub{
    height: 23.5px;
    width: 44px;
    margin-left: -5px;
    background-color: rgb(255, 165, 0);
    border-color: rgb(255, 165, 0);
    color: white;
}

 
footer{
    background-color: rgb(3, 0, 14);
    height: 50px;
}